		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		 
		  		{color: orange; font-family: Roboto, Arial, sans-serif}


		 body {font-family: Roboto, Arial, sans-serif; background-color: #eeeeee}

		  {
		    padding: 40;
 		   margin: 40;
  		}
		 .hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
					}

 		 .fit { /* set relative picture size */
 		   max-width: 100%;
 		   max-height: 100%;
 		 }
 		 .center {
 		   display: block;
  		  margin: auto;
 		 }
 		 .site-footer {  padding: 1em;
  			background: black; color: white;	
		font-size: .75em
		}
		#banner { padding: 1em;
  			background: black; color: white;	
		font-size: .75em
		}

		 a{color: orange; text-decoration: none;}

		 nav,
		 #banner,
		 h1,
		 h2,
		 h3,
		 h4,
		 h5
		 h6
		 {text-align: center;}

ul, li {list-style-type: none; padding-left: 2em; text-indent: -4em;}

#menu-align {margin-bottom: -0.5em;}

#menu-close {color: black; font-size: .75em}

div.shadow {border-radius: 5px; height: 200px; width: 200px; background-color: white; box-shadow: 2px,2px,2px, #222222;  		
		   display: block; margin: auto; padding: 2em;}
